.mainForm{
  display: flex;
}

.sidebar{
  width: 400px;
  max-width: 400px;
  min-width: 300px;
  margin-right: 20px;
}

.form-container {
  display: flex;
  overflow: hidden;
  min-width: 550px;
  width: 100%;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 165px; */
}
.buttons .protocolButton {
  min-width: calc(100%/8.5);
}
.buttons .inactive{
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.wrapperClassName {
  border: 2px solid darkgrey;
}

.editorClassName  {
  height: 150px;
  max-height: 150px;
}

.temporaryContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
  padding-bottom: 8px;
  border: 2px solid darkgrey;
  position: relative;
  width: fit-content;
}

.temporaryContainer .temporaryTitle {
  position: absolute;
  background-color: white;
  display: block;
  height: 1rem;
  top: -10px;
  padding: 0 3px;
}

.loadingProtocolButtons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  height: 42px;
}

.loadingProtocolButtons .loadingProtocolButton {
  width: 182px;
  overflow: hidden;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.loadingProtocolButtons .loadingProtocolButton:not(:first-child) {
  margin-left: 10px;
}

.emptyProtocolButton {
  background-color: rgba(221, 237, 243, 1);
}
