.mainForm{
  display: flex;
}

.sidebar{
  width: 400px;
  max-width: 400px;
  min-width: 300px;
  margin-right: 20px;
}

.form-container {
  display: flex;
  overflow: hidden;
  min-width: 550px;
  width: 100%;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 165px; */
}
.buttons button {
  min-width: calc(100%/8.5);
}
.buttons .inactive{
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.wrapperClassName {
  border: 3px solid red;
}
