.container {
  display: flex;
  flex: 1;
}

.lineNamesContainer {
  display: flex;
  width: 50px;
  flex-direction: column;
  margin-right: 5px;
}

.lineNames {
  position: relative;
  width: 100%;
  background-color: rgba(209, 216, 209, 0.5);
  display: flex;
  height: 30px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lineNamesSignContainer {
  position: absolute;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  left: 50px;
  z-index: 10;
  width: 0;
  transition: width 300ms ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.lineNames:hover .lineNamesSignContainer{
  width: fit-content;
  margin-left: 5px;
  padding: 0 5px;
}

.lines-keeper {
  /* flex-grow: 4; */
  /* min-width: 600px; */
  /* padding-left: 10px; */
  /* overflow: hidden; */
  /* margin-right: 5px; */
  width: 100%;
  overflow-x: scroll;
  flex: 1;
  height: fit-content;
}
.crossed {
  cursor: move;
}
.lineKeeperContent {
  transition: transform 0.15s linear;
}
