
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    text-transform: uppercase;
    /* min-width: 78px; */
    border-radius: 2px;
    background-color: rgb(193, 221, 230);
    border: 2px solid transparent;
    transition: 0.2s ease-in-out background-color;
    /* border: none; */
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(213, 242, 252);
    /* border: 2px solid rgba(0, 0, 0, 0.5) */
}