.root{
  z-index: 5;
}
.button_container{
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 5px;
  /* margin-left: 5px; */
  /* padding-left: 5px; */
  background-color: white;
}

.button_container button{
  height: 100%;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.button_container button p{
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: rgb(108, 108, 108);
}
