.time-line_wraper{
  position: relative;
  height: 30px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.time-line_wraper .time-line{
    /* height: 50px * 0.8; */
    height: 25px;
    border: thin solid #648591;
    border-top: none;
}
.time-line_wraper .time-line .time-show{
      display: flex;
      height: 100%;
      justify-content: space-between;
}
.time-show .time-former{
        position: relative;
        background-color: #648591;
        width: 2px;
}
.time-line_wraper .time-line .time-show .time-former.divider{
          width: 2px;
          height: 100%;
          background-color: #648591;
        }
.time-line_wraper .time-line .time-show .time-former .time-count{
          position: absolute;
          left: 3px;
        }
.time-line_wraper .time-line .time-show .time-former:last-child .time-count{
          /* right: 100%; */
        }
.time-line_wraper .time-presenter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    width: 3px;
    
}
.time-line_wraper .time-presenter .line {
        position: relative;
        width: 3px;
        height: 559px;
        background-color: #648591;
      }
      .time-line_wraper .time-presenter .arrow-up {
        border-bottom: 16px solid #648591;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        width: 3px;
      }
