*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.time-line_wraper{
  box-sizing: border-box;
  position: relative;
  height: 30px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.time-line_wraper .time-line{
    /* height: 50px * 0.8; */
    height: 25px;
    border: thin solid #648591;
    border-top: none;
    border-left: none;
    border-right: none;
}
.time-line_wraper .time-line .time-show{
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.time-show .time-former{
  position: relative;
  pointer-events: none;
  user-select: none;
}

.time-line_wraper .time-line .time-show .time-former .divider{
  width: 2px;
  height: 100%;
  background-color: #648591;
  pointer-events: none;
}

.time-line_wraper .time-line .time-show .time-former .time-count{
  position: absolute;
  top: 0;
  user-select: none;
}

.time-line_wraper .time-line .time-show .time-former:last-child .time-count{
   right: 3px;
}

.time-line_wraper .time-line .time-show .time-former:not(:last-child) .time-count{
    left: 3px;
}

.time-line_wraper .time-presenter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: 0;
    pointer-events: none;
}

.line {
  position: relative;
  width: 3px;
  background-color: #648591;
}
.arrow-up {
  border-bottom: 16px solid #648591;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  width: 3px;
}

.removablePart {
  /*cursor:hand;*/
  cursor: grab;
  position: absolute;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /*overflow: hidden;*/
}

.removablePart:active:hover {
  cursor: grabbing;
}
